# --- ENTORNOS VIRTUALES ---
env/
venv/
ENV/

# --- CACHÉ DE PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- BASES DE DATOS BIOMÉTRICAS ---
# Ignoramos los archivos pickle por peso y seguridad de los datos
shogun_db.pkl
shogun_invalidos.pkl

# --- ARCHIVOS DE SISTEMA ---
.DS_Store
Thumbs.db