# --- MOTOR DE INTELIGENCIA ARTIFICIAL (VERSIÓN BLINDADA) ---
tensorflow==2.15.0
keras==2.15.0
tf-keras==2.15.0
protobuf<4
ml-dtypes==0.2.0

# --- RECONOCIMIENTO FACIAL ---
deepface

# --- ANTI-SPOOFING Y VITALIDAD ---
mediapipe==0.10.5

# --- VISIÓN POR COMPUTADORA ---
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80

# --- INTERFAZ GRÁFICA Y VOZ ---
customtkinter
pyttsx3